// css variables
:root {
	--mswa-main-color: #7f54b3;
	--mswa-white-color: #fff;

}

// scss variables
$transition-timing: .2s ease-out;

@mixin mswaUserWeatherPreferences() {
	background: linear-gradient(45deg, rgba(51, 96, 117, 1) 0%, rgba(11, 20, 31, 1) 100%);
	border-radius: 20px;
	overflow: hidden;
	padding: 25px;

	* {
		color: var(--mswa-white-color);
	}

	.marko-swa-heading {
		font-weight: 500;
	}

	p,
	.marko-swa-city {
		margin: 0;
	}

	.marko-swa-main {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 14px 0 22px 0;

		.marko-swa-current-temp {
			font-size: 2.617924em;
			font-weight: 500;
		}

		.marko-swa-weather-icon {
			margin-right: 10px;
		}

		.marko-swa-text {
			width: 100%;
			font-weight: 500;
			letter-spacing: 0.05em;
			text-transform: uppercase;
		}
	}

	.marko-swa-symbol {
		text-transform: uppercase;
		margin-left: 5px;

		&.scale {

			&:before {
				content: "°";
			}
		}
	}
}