// css variables
:root {
	--mswa-main-color: #7f54b3;
	--mswa-white-color: #fff;

}

// scss variables
$transition-timing: .2s ease-out;

@mixin mswaWooMyAccountUserPreferences() {
	border: 2px solid var(--mswa-main-color);

	.marko-swa-heading {
		background-color: var(--mswa-main-color);
		color: var(--mswa-white-color);
		font-weight: 500;
		padding: 10px;
	}

	> p {
		margin-bottom: 5px;
		padding: 0 10px;

		&:last-of-type {
			margin-bottom: 15px;
		}

		strong {

			&:after {
				content: ":";
			}
		}
	}
}